@font-face {
    font-family: jakarta;
    src: url(public/fonts/PlusJakartaSans-Regular.ttf);
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: jakarta;
    letter-spacing: 0.3px;
}

h3 {
    font-weight: 100;
    font-size: 1rem;
}
h1 {
    font-size: 2.5rem;
    
}
p {
    font-size: 1.1rem;
}

.next-ui-table-container {
    width: 100% !important;
}
.editor-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 300px;
  }
  
  .editor-canvas {
    flex-grow: 1;
  }
  
  .panel__right {
    flex-basis: 230px;
    position: relative;
    overflow-y: auto;
  }